body {
    margin: 0;
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.game {
    width: 500px;
    height: 300px;
    background-color: #ffffff;
}

.game .left-block {
    height: 50px;
    width: 10px;
    background-color: #d11f1f;
}

.game .right-block {
    height: 50px;
    width: 10px;
    background-color: #d11f1f;
}

.game .boll {
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 8px;
}

footer {
    position: fixed;
    top: calc(100% - 60px);
    width: 100%;
    background-color: #cdf07a;
}

footer .footer-container {
    padding: 0 40px;
    max-width: 1440px;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
}

footer .footer-container .footer-content .content {
    display: flex;
    align-items: center;
}

footer .footer-container .footer-content .content p {
    margin: auto 25px auto 0;
    font-size: 25px;
}

footer .footer-container .footer-content .content a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;    
}

footer .footer-container .footer-content .content a:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(1115deg) brightness(92%) contrast(87%);
    transition: 0.5s;
}

footer .footer-logo {
    width: 135px;
    height: 50px;
    margin: 5px 0;
    background-size: cover;
    background-image: url(./img/rss.svg);
}

footer .footer-logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(1115deg) brightness(92%) contrast(87%);
    transition: 0.5s;
}