html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

#block-background,
#modal-background {
    z-index: 100;
    display: none;
    background-color: #292929;
    opacity: 60%;
    position: fixed;
    inset: 0;
    height: 100%;
}

#block-background.active,
#modal-background.active {
    display: block !important;
}

.opened {
    transform: rotate(90deg);
    transition: 0.5s;
}

.non-scroll {
    overflow-y: hidden;
}

.activ {
    left: calc(100% - 320px) !important;
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #292929;
    width: 320px;
    height: 400%;
    z-index: 101;
    transition: 0.5s;
}

.mobile-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 248px;
    margin-left: 39px;
    margin-right: 38px;
}

.mobile-menu ul li {
    margin: 0;
    color: #CDCDCD;
    font-style: normal;
    font-weight: 400;
    margin-top: 40px;
    font-family: 'Arial';
    line-height: 160%;
    order: 0;
    flex-grow: 0;
    font-size: 32px;
}

.mobile-menu ul li:hover a {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    transition: 0.2s;
}

.mobile-menu ul li.active a {
    border-bottom: 3px solid #F1CDB3;
    color: #FAFAFA;
    margin-top: 0;
    cursor: context-menu;
}

.mobile-menu ul li.active a:hover {
    text-decoration: none;
    cursor: context-menu;
}

.mobile-menu ul li a {
    color: #CDCDCD;
    text-decoration: none;
    font-size: 32px;
}

.modal-window {
    width: 952px;
    height: 552px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 101;
}

.modal-window button {
    width: 52px;
    height: 52px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-size: 32px;
}

.modal-window button:hover {
    background: #F1CDB3;
    cursor: pointer;
    transition: 0.5s;
}

.modal-window .container {
    display: flex;
    background: #FAFAFA;
    border-radius: 9px;
    width: 900px;
    height: 500px;
    margin-right: 43px;
}

.modal-window .container img {
    height: 500px;
    width: 500px;
}

.modal-window .container .content {
    width: 351px;
    margin-left: 31px;
}

.modal-window .container .content h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin: 50px 0 0 0;
}

.modal-window .container .content h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-top: 8px;
}

.modal-window .container .content h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 114%;
    letter-spacing: 0.06em;
    margin-top: 40px;
}

.modal-window .container .content ul {
    padding-left: 14px;
    margin-top: 40px;
}

.modal-window .container .content ul li {
    color: #F1CDB3;
    margin-top: 10px;
}

.modal-window .container .content ul li span {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}

.modal-window.display {
    display: flex !important;
}

@media (max-width: 960px) {
    .modal-window {
        width: 682px;
        height: 402px;
    }

    .modal-window .container {
        width: 630px;
        height: 350px;
    }

    .modal-window .container img {
        height: 350px;
        width: 350px;
    }

    .modal-window .container .content {
        margin-left: 11px;
    }

    .modal-window .container .content h3 {
        margin: 11px 0 0 0;
    }

    .modal-window .container .content h4 {
        margin-top: 9px;
        margin-bottom: 0;
    }

    .modal-window .container .content h5 {
        font-size: 13px;
        line-height: 108%;
        margin-top: 21px;
        margin-bottom: 0;
        width: 265px;
    }

    .modal-window .container .content ul {
        padding-left: 15px;
        margin-top: 19px;
    }

    .modal-window .container .content ul li {
        margin-top: 5px;
    }
}

@media (max-width: 690px) {
    .modal-window {
        width: 270px;
        height: 393px;
    }

    .modal-window .container {
        width: auto;
        height: auto;
        margin-right: 30px;
        padding-right: 13px;
    }

    .modal-window .container img {
        display: none;
    }

    .modal-window .container .content {
        width: 216px;
    }

    .modal-window .container .content h3 {
        margin: 11px 0 0 38px;
    }

    .modal-window .container .content h4 {
        margin-top: 8px;
        margin-left: 33px;
    }

    .modal-window .container .content h5 {
        width: 220px;
        text-align: justify;
    }

    .modal-window .container .content ul {
        margin-top: 23px;
        margin-bottom: 10px;
    }

}

header {
    position: absolute;
    top: 30px;
    width: 100%;
    max-width: 1280px;
    background: #FFFFFF;
}

header .logo {
    display: inline;
    float: left;
    margin-left: 40px;
}

header .logo a {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    text-decoration: none;
}

header .logo h1 {
    margin: 10px 0 0 5px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #292929;
}

header nav {
    float: right;
    display: inline;
    margin-right: 40px;
}

header nav ul {
    color: #ffffff;
    list-style-type: none;
    padding-left: 10px;
    display: flex;
}

header nav ul li {
    margin: 0 0 0 36px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    flex: none;
    order: 0;
    flex-grow: 0;
}

header nav ul li:hover a {
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
    transition: 0.5s;
}

header nav ul li.active {
    border-bottom: 3px solid #F1CDB3;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #292929;
    flex: none;
    order: 0;
    flex-grow: 0;
}

header nav ul li a {
    color: #545454;
    text-decoration: none;
}

header .burger {
    display: none;
    flex-direction: column;
    row-gap: 8px;
    float: right;
    margin-right: 19px;
    margin-top: 19px;
    transition: 0.5s;
    position: relative;
    z-index: 102;
    cursor: pointer;
}

header .burger .line {
    border: 1px solid #F1CDB3;
    width: 28px;
}

.pets {
    width: 100%;
    height: 1342px;
    background: #F6F6F6;
    margin-top: 120px;
}

.pets .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.pets .content h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0;
}

.pets .content .slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 929px;
    width: 1240px;
    margin: 47px 0 42px 0;
}

.pets .content .slider .card {
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 435px;
    margin: 18px 20px;
}

.pets .content .slider .card p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 30px 0;
}

.pets .content .slider .card .button-card {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    color: #292929;
    text-decoration: none;
    padding: 14px 45px;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.pets .content .slider .card:hover .button-card {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: 0.5s;
}

.pets .content .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pets .content .button {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

.pets .content .current {
    background: #F1CDB3;
    color: #292929;
    border: 2px solid #F1CDB3;
    cursor: pointer;
}


.pets .content .active {
    border: 2px solid #F1CDB3;
    color: #292929;
    cursor: pointer;
}

.pets .content .active:hover {
    background: #F1CDB3;
    transition: 0.5s;
}

footer {
    background-image: url("../images/footer-gradient-background.png");
    height: 350px;
    width: 100%;
    max-width: 1280px;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 0 40px;
}

footer .footer-content .contacts {
    width: 279px;
    margin-top: 16px;
}

footer .footer-content img {
    margin-right: 20px;
}

footer .footer-content .contacts h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0;
}

footer .footer-content .contacts div {
    display: flex;
    align-items: center;
}

footer .footer-content .contacts .email {
    margin: 40px auto;
}

footer .footer-content .locations {
    width: 302px;
    margin-top: 16px;
}

footer .footer-content .locations .central-street {
    margin: 33px auto;
}

footer .footer-content .locations h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0;
}

footer .footer-content .locations div {
    display: flex;
    align-items: center;
}

footer .footer-content a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
    text-decoration: none;
}

footer .footer-content .footer-puppy {
    width: 300px;
    height: 310px;
    margin: 0;
}

footer .footer-content .footer-puppy-320 {
    display: none;
}


@media (max-width: 1260px) {
    .pets .content .slider .scarlett {
        display: none;
    }

    .pets .content .slider .freddie {
        display: none;
    }

    .pets .content .slider {
        width: 100%;
    }
}

@media (max-width: 960px) {
    header .logo {
        margin-left: 30px;
    }

    header nav {
        margin-right: 30px;
    }

    .pets {
        height: 1733px;
    }

    .pets .content .slider {
        width: 100%;
        max-width: 638px;
        height: 100%;
        justify-content: center;
        margin: 10px 0 31px 0;
    }

    .pets .content .slider .katrine {
        margin: 28px 20px 0 20px;
    }

    .pets .content .slider .jennifer {
        margin: 28px 20px 0 20px;
    }

    .pets .content .slider .woody {
        margin: 30px 20px 0 20px;
    }

    .pets .content .slider .sophia {
        margin: 30px 20px 0 20px;
    }

    .pets .content .slider .timmy {
        margin: 30px 20px 0 20px;
    }

    .pets .content .slider .charly {
        margin: 30px 20px 0 20px;
    }

    footer {
        background-image: url("../images/footer-background-768.png");
        background-size: cover;
        height: 100%;
    }

    footer .footer-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 15px 40px 0 40px;
        row-gap: 63px;
    }

    footer .footer-content .locations {
        margin-left: 10px;
    }
}

@media (max-width: 750px) {
    header .logo {
        margin-left: 20px;
    }

    .pets {
        height: 1649px;
    }

    .pets .content {
        margin-top: 42px;
    }

    .pets .content h3 {
        font-size: 25px;
        line-height: 129%;
    }

    .pets .content .slider .sophia {
        display: none;
    }

    .pets .content .slider .timmy {
        display: none;
    }

    .pets .content .slider .charly {
        display: none;
    }

    .pets .content .slider {
        margin: 23px 0 34px 0;
    }

    .pets .content .navigation {
        gap: 10px;
    }

    .pets .content .button {
        margin: 0;
    }

    footer {
        background-image: url("../images/footer-gradient-background-320.png");
        height: 100%;
    }

    footer .footer-content {
        margin: 0;
        justify-content: center;
        row-gap: 0;
    }

    footer .footer-content .contacts {
        margin-top: 31px;
    }

    footer .footer-content .locations {
        margin-top: 0;
        margin-left: 8px;
    }

    footer .footer-content .contacts h2 {
        text-align: center;
        font-size: 25px;
    }

    footer .footer-content .locations h2 {
        text-align: center;
        font-size: 25px;
        width: 294px;
    }

    footer .footer-content .contacts .email {
        margin: 38px 0 40px 13px;
    }

    footer .footer-content .contacts div {
        margin: 30px 0 40px 19px;
    }

    footer .footer-content .locations .central-street {
        margin: 38px 0px 41px -3px;
    }

    footer .footer-content .locations div {
        margin: 41px 0 0 -3px;
    }

    footer .footer-content .footer-puppy {
        display: none;
    }

    footer .footer-content .footer-puppy-320 {
        display: block;
        margin-top: 40px;
        margin-left: 20px;
    }
}

@media (max-width: 750px) and (min-width: 620px) {
    .pets .content .slider {
        width: 400px;
    }
}

@media (max-width: 750px) and (min-width: 589px) {
    footer .footer-content .locations {
        margin-top: 31px;
    }
}

@media (max-width: 768px) {
    header nav {
        display: none;
    }

    header .burger {
        display: flex;
        margin-right: 20px;
        margin-top: 18px;
    }
}